.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container article {
  width: 300px;
  background-color:white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid gray;
}

.container figure {
  text-align: center;
}
.container img {
  height: 150px;
  width: 80%;
  mix-blend-mode:multiply;
  /* background-color: transparent; */
}
.container p {
  font-size: 20px;
}

.container aside {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  button {
    border-radius: 20px;
    font-size: 16px;
    padding: 5px;
  }
}
