*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid gray;
  align-items: center;
  margin-bottom: 10px;
}

.navbar ul{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar section{
  display: grid;
  place-items: center;
  text-align: center;
  vertical-align:middle;
  height: 100%;
}
.navbar ul a{
  text-decoration: none;
  color: black;
}

.navbar ul a:hover{
  color: orange;
  border-bottom: 5px solid orange;
  padding-bottom: 17px;
}